.workout-wrapper{
    border-color: rgb(141, 203, 255);
    background-color: rgb(242, 249, 255);
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    padding: 15px;
    margin-top: 15px;
    .highlight{
        font-size: 14px;
        font-weight: 700;
        color: var(--ion-text-color, #000);
    }
    ion-card{
        padding: 10px 15px;
        margin: 15px 0 0;
        ion-col{
            padding: 0px;
        }
        p{
            margin: 5px 0;
        }
    }
    ion-card:first-child{
        margin: 0;
    }
}
.workout-wrapper:first-child{
    margin-top: 0px;
}
.workout-wrapper.parent{
    border-color: rgb(221, 221, 221);
    background-color: rgb(247, 247, 247);
}