<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="backButtonText"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card-subtitle>10km, Halfmarathon, marathon</ion-card-subtitle>
    <ion-card-title>{{title}}</ion-card-title>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab consequuntur dolore id blanditiis error reprehenderit laudantium est ullam sit, reiciendis voluptate totam asperiores saepe velit excepturi, nam sed accusantium distinctio.</p>

    <div *ngIf="workout == '1'">
      <div class="workout-wrapper" *ngFor="let item of [1]">
        <div class="highlight" style="text-align: center;">Gjenta 10 ganger</div>
        <ion-card>
          <div class="highlight">Løp: 1000m</div>
          <p>Beskrivelse på denne serien</p>
          <ion-row>
            <ion-col size="6" class="ion-align-self-end">
              <div class="highlight">Ca 10k fart</div>
            </ion-col>
            <ion-col size="6">
              <ion-row style="justify-content: end;">
                <div style="font-style: italic;">For you</div>
              </ion-row>
              <ion-row style="justify-content: end;">
                <div class="highlight">3:45</div>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card>
          <div class="highlight">Hvile: 75 sek</div>
          <p>Beskrivelse på denne serien</p>
        </ion-card>
      </div>
    </div>

    <div class="workout-wrapper parent" *ngIf="workout == '0'">

      <ion-card>
        <div class="highlight">Oppvarming</div>
        <p>Beskrivelse på denne serien</p>
      </ion-card>

        <div class="workout-wrapper" *ngFor="let item of [1]">
          <div class="highlight" style="text-align: center;">Gjenta 2 ganger</div>
          <!-- <div class="highlight" style="text-align: center;">Gjenta 10 ganger</div> -->
          <ion-card>
            <div class="highlight">Løp: 1500m</div>
            <p>Beskrivelse på denne serien</p>
            <ion-row>
              <ion-col size="6" class="ion-align-self-end">
                <div class="highlight">Ca 10k fart</div>
              </ion-col>
              <ion-col size="6">
                <ion-row style="justify-content: end;">
                  <div style="font-style: italic;">For you</div>
                </ion-row>
                <ion-row style="justify-content: end;">
                  <div class="highlight">3:45</div>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card>

          <ion-card>
            <div class="highlight">Hvile: 60 sek</div>
            <p>Beskrivelse på denne serien</p>
          </ion-card>

          <ion-card>
            <div class="highlight">Løp: 1000m</div>
            <p>Beskrivelse på denne serien</p>
            <ion-row>
              <ion-col size="6" class="ion-align-self-end">
                <div class="highlight">Ca 10k fart</div>
              </ion-col>
              <ion-col size="6">
                <ion-row style="justify-content: end;">
                  <div style="font-style: italic;">For you</div>
                </ion-row>
                <ion-row style="justify-content: end;">
                  <div class="highlight">3:40</div>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card>

          <ion-card>
            <div class="highlight">Hvile: 60 sek</div>
            <p>Beskrivelse på denne serien</p>
          </ion-card>

          <ion-card>
            <div class="highlight">Løp: 500m</div>
            <p>Beskrivelse på denne serien</p>
            <ion-row>
              <ion-col size="6" class="ion-align-self-end">
                <div class="highlight">Ca 10k fart</div>
              </ion-col>
              <ion-col size="6">
                <ion-row style="justify-content: end;">
                  <div style="font-style: italic;">For you</div>
                </ion-row>
                <ion-row style="justify-content: end;">
                  <div class="highlight">3:35</div>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card>

          <ion-card>
            <div class="highlight">Hvile: 60 sek</div>
            <p>Beskrivelse på denne serien</p>
          </ion-card>
        </div>

        <ion-card>
          <div class="highlight">Nedjogg</div>
          <p>Beskrivelse på denne serien</p>
        </ion-card>
    </div>
  </div>
  </ion-content>
