<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card-subtitle>Km/t</ion-card-subtitle>
        <ion-input class="pace-input" name="kmt" type="number" placeholder="15" [(ngModel)]="kmtModel" (ngModelChange)="kmTChange()"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-card-subtitle>Min/km</ion-card-subtitle>
        <ion-input class="pace-input" name="minKmt" type="tel" placeholder="4:00" [(ngModel)]="minKmtModel" (ngModelChange)="minKmChange()" ></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>