<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div #subtree>
    <kmt-to-minkm></kmt-to-minkm>
    <mins-pr-km-mins-pr-mile></mins-pr-km-mins-pr-mile>
    <pace-calculator></pace-calculator>
  </div>

</ion-content>
<bml-input (buttonValueEvent)="keyboardBarButtonPressed($event)"></bml-input>