ion-card{
    margin: 15px 16px;
    ion-card-title{
        font-size: 19px;
    }
    ion-card-content{
        padding: 10px 15px;
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
}
.search-categories{
    width: 100%;
    // background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    // padding: 10px 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    ion-button{
        margin-left: 15px;
        display: inline-block;
    }
}
