<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Workouts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Workouts</ion-title>
    </ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <div class="search-categories">
      <ion-button *ngFor="let item of ['5km', '10km', 'Halfmarathon', 'Marathon']" size="small" color="light">
        {{item}}
      </ion-button>
    </div>
  </ion-header>


  <ion-card *ngFor="let item of [1,0,1,0,1,1,1,1]">
    <ion-card-content (click)="openWorkoutPage(item)">
      <ion-card-subtitle *ngIf="item == 0">Fartslek</ion-card-subtitle>
      <ion-card-title *ngIf="item == 0">1 min "on" + 1 min "off"</ion-card-title>
      <ion-card-title *ngIf="item == 1">10 x 1000m</ion-card-title>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laborum autem beatae similique et ex voluptatem incidunt vero, eligendi dicta vel aut ducimus? Mollitia itaque labore iure tenetur, ex hic?
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
