<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      Avstand
    </ion-card-subtitle>
    <!-- <ion-icon color="light" name="infinite" slot="start"></ion-icon> -->
  </ion-card-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        Lenge på én runde (m)
      </ion-col>
      <ion-col size="4">
        <ion-input class="pace-input" placeholder="0" type="tel" [(ngModel)]="courseMeter" (ionChange)='getCourseTime()'></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <strong>Totale</strong> lengde (m)
      </ion-col>
      <ion-col size="4">
        <ion-input class="pace-input" placeholder="0" type="tel" [(ngModel)]="runDistance" (ionChange)='getCourseTime()'></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      Sluttid
    </ion-card-subtitle>
  </ion-card-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        Ønsket sluttid
      </ion-col>
      <ion-col size="4">

        <ion-input class="pace-input" placeholder="00:00:00" [(ngModel)]="totalTime" (ngModelChange)="getCourseTime()" style="width: 105px"
          [brmasker]="timeHourMask"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      Resultat
    </ion-card-subtitle>
  </ion-card-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        Tid per runde:
      </ion-col>
      <ion-col size="4">
        {{timePerRound | hourMinSec: "sec" }}
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="4" offset="8">
        {{averageKmt | number:'2.1-1'}} km/t
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="4" offset="8">
        {{averateMinKm}} min/km
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" style="margin-top: 10px">
      <ion-col size="8">
        Antall runder:
      </ion-col>
      <ion-col size="4">
        xx
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<!-- <ion-card>
  <div style="height: 400px;"></div>
</ion-card> -->
