<ion-card>
  <ion-row class="ion-align-items-center">
    <ion-col size="12">
      <ion-card-subtitle>Time</ion-card-subtitle>
      <ion-input class="pace-input" type="text" placeholder="01:30:00"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
      <div class="seperator top"></div>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="6" class="seperator right">
      <ion-card-subtitle>Distance</ion-card-subtitle>
      <ion-input class="pace-input" type="text" placeholder="21"></ion-input>
    </ion-col>
    <ion-col size="6">
      <ion-card-subtitle>Pace</ion-card-subtitle>
      <ion-input class="pace-input" type="text" placeholder="4:00"></ion-input>
    </ion-col>
  </ion-row>
</ion-card>