.seperator{
    border-top: 1px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    width: 100%;
    height: 100%;
}
ion-col{
    text-align: center;
    ion-input{
        margin: 5px auto;
    }
}
ion-col.seperator{
    border-top: 0px;
    border-right: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
}