<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
      <ion-card-subtitle>Min/mile</ion-card-subtitle>
        <ion-input class="pace-input" name="minMile" type="tel" placeholder="6:26" [(ngModel)]="minMileModel" (ngModelChange)="minMileChange()"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-card-subtitle>Min/km</ion-card-subtitle>
        <ion-input class="pace-input" name="minKmt" type="tel" placeholder="4:00" [(ngModel)]="minKmtModel" (ngModelChange)="minKmChange()" ></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>