<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lap Split Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lap Split Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <lap-split></lap-split>
  </ion-content>
