<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calculator">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Calculator</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lap-split-page">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Lap</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workouts">
      <ion-icon name="square"></ion-icon>
      <ion-label>Workouts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
