.keyboard-bar{
    position: sticky;
    width: 100%;
    background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    bottom: 0px;
    padding: 10px 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    ion-button{
        margin-left: 15px;
        display: inline-block;
    }
}